@using Allannovalta.CSMQuestionPoll.Web.Infrastructure.Data.Models;
@model Allannovalta.CSMQuestionPoll.Web.ViewModels.PollQuestions.PollQuestionViewModel;
@{
    ViewData["Title"] = "PollQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>PollQuestions</h2>
    <p>Here is a paged list of all the Poll Questions</p>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Thumbnail</th>
                <th>Is Published</th>
                <th>Post Expiry</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (PollQuestion pollQuestion in Model.PollQuestions.Items)
                {
                    <tr>
                        <td>@pollQuestion.Title</td>
                        <td>@pollQuestion.Content</td>
                        <td>@pollQuestion.Thumbnail</td>
                        <td>@pollQuestion.IsPublished</td>
                        <td>@pollQuestion.PostExpiry</td>
                        <td>
                            <a href="#" onclick="confirmDeletePollQuestion()" title="Delete Poll Question"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                        </td>
                    </tr>
                }


            }
        @*</tbody>

        <td colspan="4">

        </td>*@

    </table>
</div>
